.main{
    margin: 0;
    height: 93%;
}

.body{
    box-sizing: border-box;
    display: block;
    height: 100%;
    /*margin-top: 4%;
    margin-bottom: 4%;*/
    position: relative;
    background-color: white;
    width:100%;
    /*margin-left: 0.5%;
    margin-right:0.5%;*/
    z-index: 4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height:7%;
  }
  
.left_element {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
  }

.right_element{
    float: right;
}

.friend{
    border: solid black 0.5px;
    height: 9%;
    display: block;
    position: relative;
    padding-left: 3%;
}
p{
    font-family: 'Noto Serif SC','Times New Roman', Times, serif;
    margin: 0px;
    font-size: 20px;
    text-align: left;
}

.heading_friend{
    /*border: solid 0.5px black;*/
    padding-top: 3.5%;
    text-align: center;
    
    height: 100%;
}

.heading_chat{
    text-align: center;
    padding-top: 2.5%;
    height: 100%; 
}

.left_heading{
    border-right: solid black 0.5px;
    float: left;
    box-sizing: border-box;
    width: 35%;
    height: 100%;
    position: relative;
    text-align: center;
    background-color: #ffcd6d;
}


    

.left_down{
    border-right: solid black 0.5px;
    float: left;
    box-sizing: border-box;
    width: 35%;
    height: 100%;
    margin: solid black 0.4px;  
    position: relative;
    text-align: center;
    background-color:#ff604b;
    background-attachment: scroll;
    background-repeat: repeat;
}

.none{
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Serif SC', serif;
    padding-top: 50%;
}

.none_chat{
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Serif SC', serif;
    padding-top: 20%;
}

.upper{
    border: solid black 0.5px;
    height: 10%;
    display: block;
    position: relative;
}

.lower{
    height: 89.9%;
    display: block;
    position: relative;
}

.right_heading{
    border-right: solid black 0.5px;
    float: left;
    box-sizing: border-box;
    width: 65%;
    height: 100%; 
    position: relative;
    text-align: center;
    background-color: #ffcd6d;
}

.right{
    border-right: solid black 0.5px;
    float: left;
    box-sizing: border-box;
    width: 65%;
    height: 100%;
    margin: 0px;  
    position: relative;
}

.right-mid{
    height: 89.7%;
    display: block;
    position: relative;
    overflow-y: auto;
    margin: 0px;
    width:100%;
    background-attachment: local;
    background-repeat: repeat;
    z-index: 1;
}

.right-bottom{
    border:solid 0.5px black;
    height: 10%;
    margin-top:0px;
    display: none;
    margin-left:0%;
    position: relative;
    display: block;
}

.chatbox_friend{
    border: solid black 0.5px;
    min-height: 9%;
    width:50%;
    display: block;
    position: relative;
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 15%;
    margin-bottom: 1%;
    background-color: white;
    border-radius: 15px;
}

.chatbox_me{
    border: solid black 0.5px;
    min-height: 9%;
    width: 50%;
    display: block;
    position: relative;
    margin-left: 45%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: white;
    border-radius: 15px;
}

.chats{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    white-space: pre-wrap;
}

.form{
    width: 100%;
    height: 95%;
    position: relative;
    margin: 0%;
    margin-top: 0.5%;
}

.textarea{
    width:72%;
    float: left;
    font-size: 100%;
    height:80.5%;
    margin-left: 2%;
    margin-bottom: 0.5%;
    position: relative;
    border-radius: 9px;
    padding-left: 1%;
}

.send{
    float: left;
    width:20%;
    font-size: 70%;
    height:50%;
    margin-left: 2%;
    margin-top: 4%;
    position: relative;
}

.date_time{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 10px;
    padding-left: 1%;
    padding-top: 0.8%;
    padding-bottom: 1%;
    text-align: left;
}

::-webkit-scrollbar { 
    display: none; 
}

input:focus, textarea {
    outline: none;
}

@media screen and (min-height: 630px) {
    
}

@media screen and (min-height: 700px) {
    
}

@media screen and (max-height: 580px) {
    
}

@media screen and (min-height: 800px) {
    
}

@media screen and (min-height: 1000px) {
    
}

@media screen and (min-height: 1200px) {
    .textarea{
        font-size: 25px;
    }

    .form {
        width: 100%;
        height: 95%;
        position: relative;
        margin-top: 1.5%;
    }
    .send {
        float: left;
        width: 20%;
        font-size: 25px;
        height: 50%;
        margin-left: 2%;
        margin-top: 4%;
        position: relative;
    }
    .left_element {
        float: left;
        font-size: 25px;
        padding-top: 2%;
    }
    .right_element {
        float: right;
        font-size: 25px;
        padding-top:2%;
    }
    p{
        font-size: 35px;
    }
    .heading_friend {
        padding-top: 11.5%;
        text-align: center;
        height: 100%;
    }
    .heading_chat {
        text-align: center;
        padding-top: 6.5%;
        height: 100%;
    }
}