  
  <ul>
    <li class="left_element"><a class="active" href="#home">Home</a></li>
    <li class="left_element"><a href="#contact">Contact</a></li>
    <li class="left_element"><a href="#about">About</a></li>
    <li class="right_element"><a href="#">Log Out</a></li>
  </ul>

<div class="main">
  <div class="body">

    <div  class="upper">
        <div class="left_heading"><p class="heading_friend"> Friends</p></div>
        <div class="right_heading"><p class="heading_chat"> Chats</p></div>
    </div>

    <div  class="lower">
        <div class="left_down" >
            
        </div>
        <div class="right">
            <div class="right-mid" id="view_ajax">
            </div>
            <div class="right-bottom">
                <form method="post" id="sendchat" class="form" >
                    <textarea  rows="5" cols="50" name="chat" class="textarea" id="textarea"></textarea>
                    <input  class="send" type="submit" name="submit" value="submit" id="send">
                </form>
            </div>
        </div>
    </div>    

  </div>
</div>